.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100%;
  margin-bottom: 100px;
}

.decksRow {
  th {
    &:nth-child(1) {
      min-width: 260px;
      max-width: 350px;
    }

    &:nth-child(2) {
      min-width: 150px;
      max-width: 150px;
    }

    &:nth-child(3) {
      min-width: 180px;
      max-width: 180px;
    }

    &:nth-child(4) {
      min-width: 200px;
      max-width: 200px;
    }

    &:nth-child(5) {
      min-width: 125px;
      max-width: 125px;
    }
  }
}

.container__pageBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 36px;

  label {
    font-size: var(--font-size-s);
    color: var(--color-light-100);
  }
}

.container__pageName {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 24px;
}

.img {
  width: 100%;
  max-height: 120px;
  margin-bottom: 24px;
  object-fit: cover;
}

.buttonModal {
  margin-bottom: 24px;
}

.container__textField {
  position: relative;
  top: 24px;
}

.container__common {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}

.contentComponents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 24px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-bottom: none;
}

.contentBtn {
  display: flex;
  justify-content: flex-end;

  padding: 0 24px 36px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-top: none;
}

.imageBtnBox {
  width: 100%;
}

.link {
  text-decoration: none;
}

.btnBox {
  width: unset;
}

.contentBtns {
  justify-content: space-between;
  margin-top: -1px;
}

.inputFile {
  overflow: hidden;

  width: 0;
  height: 0;
  padding: 0;

  line-height: 0;

  opacity: 0;
}

.changeCover {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 24px;
  padding: 6px;

  background: var(--color-dark-300);
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  svg {
    width: 16px;
    height: 16px;
    fill: white;
  }
}

.headCell {
  cursor: pointer;

  padding: 6px 24px;

  font-size: var(--font-size-s);
  text-align: left;

  background-color: var(--color-dark-500);

  transition: 0.3s;

  &:hover {
    background-color: var(--color-dark-300);
    transition: 0.3s;
  }

  &:last-child {
    cursor: default;
    background-color: var(--color-dark-500);
  }

  svg {
    cursor: pointer;
    margin-left: 4px;
    fill: white;
  }

  .iconRotate {
    svg {
      transform: rotate(180deg);
    }
  }
}

.bodyCell {
  overflow: hidden;

  max-width: 200px;
  padding: 6px 24px;

  font-size: var(--font-size-s);
  color: inherit;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-bottom: 1px solid var(--color-dark-500);

  &:last-child {
    text-align: center;
  }

  svg:not(.stars) {
    fill: white;
  }

  .deckNameLink {
    color: var(--color-light-100);
    text-decoration: none;

    &:hover {
      color: var(--color-accent-100);
      text-decoration: underline;
      transition: all 0.2s;
    }
  }

  .deckNameWithImgBox {
    display: flex;
    gap: 10px;
    align-items: center;

    color: var(--color-light-100);
    text-decoration: none;

    &:focus-visible {
      color: var(--color-accent-300);
      text-decoration: underline;
      border-radius: 2px;
      outline: 0.125rem solid var(--color-info-700);
    }

    &:hover {
      color: var(--color-accent-100);
      text-decoration: underline;
      transition: all 0.3s;
    }
  }

  .deckName {
    cursor: pointer;
    font-size: var(--font-size-s);
    color: inherit;
    text-decoration: none;
  }

  .image {
    min-width: 118px;
    height: 48px;
    object-fit: cover;
  }
}

.boldText {
  font-weight: var(--font-weight-bold);
}

.disabledIcon {
  opacity: 0.5;
}

.iconsBox {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  line-height: 1;

  svg {
    width: 16px;
    height: 16px;
  }
}

.btnCoverBox {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-around;

  width: 100%;

  svg {
    width: 20px;
    height: 20px;
    fill: var(--color-light-100);
  }
}

.sortIcon {
  margin-left: 5px;
}

.decksEmpty {
  display: grid;
  place-items: center;
  padding: 60px 0;
}
