.box {
  align-items: center;
  padding: 36px 36px 0;
}

.title {
  margin-bottom: 25px;
}

.icon {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 65px;
  color: var(--color-light-900);
  text-align: center;
  opacity: 0.5;
}

.button {
  margin-bottom: 45px;
  padding: 6px 0;
}
