.trigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: var(--color-dark-500);
  border: none;
  border-radius: 50%;
}

.triggerImg {
  user-select: none;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  fill: var(--color-light-100);
}

.triggerIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 215px;
  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  :nth-child(3) {
    border-bottom: none;
  }
}

.arrow {
  width: 16px;
  height: 8px;
  fill: var(--color-dark-700);
}

.item {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 12px 3px;

  border-bottom: 1px solid var(--color-dark-500);
}

.menuItem {
  display: flex;
}

.menuItemIcon {
  display: flex;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    fill: var(--color-light-100);
  }
}

.img {
  width: 36px;
  height: 36px;
  margin-right: 8px;

  background-color: var(--color-dark-500);
  border: none;
  border-radius: 50%;
}

.inner {
  display: flex;
  align-items: center;
  min-width: 195px;
}

.email {
  color: var(--color-dark-0);
}

div.itemProfile {
  padding-top: 0;
}

div.content {
  min-width: 100px;
}
