.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100%;
  margin-bottom: 100px;
}

.container__pageBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 36px;

  label {
    font-size: var(--font-size-s);
    color: var(--color-light-100);
  }
}

.container__pageName {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 24px;
}

.img {
  width: 100%;
  max-height: 120px;
  margin-bottom: 24px;
  object-fit: cover;
}

.buttonModal {
  margin-bottom: 24px;
}

.container__textField {
  position: relative;
  top: 24px;
}

.container__common {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}

.contentComponents {
  display: flex;
  flex-direction: column;

  //align-items: flex-start;

  padding: 24px;

  background-color: var(--color-dark-700);

  //border: 1px solid var(--color-dark-500);
  border-bottom: none;
}

.contentBtn {
  display: flex;
  justify-content: flex-end;

  padding: 0 24px 36px;

  background-color: var(--color-dark-700);

  //border: 1px solid var(--color-dark-500);
  border-top: none;
}

div.btnBox {
  width: unset;
}

.contentBtns {
  justify-content: space-between;
  margin-top: -1px;
}

.inputFile {
  overflow: hidden;

  width: 0;
  height: 0;
  padding: 0;

  line-height: 0;

  opacity: 0;
}

.changeCover {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 24px;
  padding: 6px 0;

  background: var(--color-dark-300);
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  svg {
    width: 16px;
    height: 16px;
    fill: white;
  }
}

.select {
  display: inline-flex;
  align-items: center;
}

.selectBox {
  padding: 24px;
}
