/* reset */
button {
  all: unset;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.RadioGroupItem {
  background-color: black;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid var(--color-accent-500);
}

.RadioGroupItem:hover {
  cursor: pointer;
  box-shadow: 0 0 0 6px #333;
  background: var(--dark-500, #333);
}

.RadioGroupItem:focus {
  box-shadow: 0 0 0 6px #171717;
  background: var(--dark-700, #171717);
}

.RadioGroupItem:active {
  box-shadow: 0 0 0 6px #382766;
  background: var(--primary-900, #382766);
}

.RadioGroupItem[data-disabled],
.RadioGroupItem[data-disabled]:hover,
.RadioGroupItem[data-disabled]:active {
  cursor: default;
  box-shadow: none;
  background-color: transparent;
  border: 2px solid var(--color-accent-900);
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.RadioGroupIndicator::after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--color-accent-500);
}

.RadioGroupBlock {
  display: flex;
  align-items: center;
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
  padding-left: 15px;
}