.checkboxContainer {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  transition: all 0.5s;

  input[type='checkbox']:focus {
    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: circle(200%);
    box-shadow: 0 0 0 24px var(--color-dark-100);

    transition: all 0.5s;
  }

  &:hover .checkboxUnselected {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    background-color: var(--color-dark-500);
    border-radius: 50%;
  }

  &:active .checkboxUnselected {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    background-color: var(--color-dark-100);
    border-radius: 50%;

    transition: all 0.5s;
  }

  .checkboxIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    border-radius: 50%;

    &:active .checkboxUnselected {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 36px;
      height: 36px;

      background-color: var(--color-dark-100);
      border-radius: 50%;

      transition: all 0.35s;
    }
  }

  .checkboxUnselected {
    position: absolute;
    display: inline-flex;
    transition: all 0.5s;
  }

  label {
    font-size: var(--font-size-s);
    color: var(--color-light-100);
  }
}
