button {
  all: unset;
}

.pagesContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-s);

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    opacity: 0.5;
  }

  svg:hover {
    cursor: pointer;
    opacity: 1;
  }

  .svg:focus-visible {
    outline: solid var(--color-info-900);
  }

  .page {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    margin: 0 3px;

    line-height: var(--line-height-m);
    color: var(--color-light-100);
    text-align: center;
    text-decoration: none;

    border-radius: 2px;

    transition: 0.35s all;
  }

  .page:not(:active, .currentPage):hover {
    cursor: pointer;
    background-color: var(--color-dark-500);
  }

  .page:active {
    cursor: pointer;
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
  }

  .page:not(.currentPage):focus-visible {
    outline: solid var(--color-info-900);
    transition: 0.05s all;
  }

  & .currentPage {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
  }
}
