button {
  all: unset;
  cursor: pointer;
  margin: 0;
  border-radius: 4px;
}

.box {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--color-dark-100);
}

.SelectTrigger {
  cursor: pointer;

  position: relative;

  font-size: var(--font-size-s);
  line-height: 1;
  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}

.selectTriggerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 8px;
}

.hoverActive:focus {
  border: 1px solid var(--color-info-700);
}

.hoverActive:not(.SelectTrigger[data-disabled]):hover {
  background-color: var(--color-dark-500);
}

.SelectTrigger[data-disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.SelectTrigger:active {
  border: 1px solid var(--color-dark-500);
}

.SelectTrigger[data-placeholder] {
  border-radius: 4px;
}

.SelectTrigger[data-state='open'] {
  & .rotate {
    transform: rotate(180deg);
    transition: all 0.25s;
  }
}

.SelectIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SelectContent {
  z-index: 6;

  width: var(--radix-select-trigger-width);

  border: 1px solid var(--color-dark-500);
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.SelectViewport {
  background-color: var(--color-dark-700);
  border-radius: 0 0 4px 4px;
}

.SelectItem {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  min-width: 50px;
  height: 36px;
  padding: 6px 12px;

  font-size: var(--font-size-s);
  color: var(--color-light-100);
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: var(--mauve-8);
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}

.SelectLabel {
  font-size: 12px;
  line-height: 25px;
}
