.loader {
  width: 30px;
  height: 30px;

  border: 5px solid var(--color-accent-500);
  border-top-color: var(--color-light-300);
  border-radius: 50%;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
