.loader {
  --c: no-repeat linear-gradient(#6100ee, #6100ee);

  position: fixed;
  top: 8%;

  width: 100%;
  height: 4px;

  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;

  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }

  66% {
    background-position:
      250% 0,
      -150% 0;
  }

  100% {
    background-position:
      250% 0,
      250% 0;
  }
}
