.container {
  .cardsContainer {
    display: flex;
    justify-content: center;

    .cards {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-evenly;
      width: 26.25rem;
      height: 26.25rem;

      background: var(--color-dark-700);
    }

    .text {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
      font-style: normal;
      line-height: var(--line-height-l);
      color: var(--color-light-100);
    }

    .email {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-regular);
      font-style: normal;
      line-height: var(--line-height-m); /* 171.429% */
      color: var(--color-dark-100);
    }

    .logoProfileEdit {
      flex-shrink: 0;
      width: 6rem;
      height: 6rem;
      border-radius: 2.25rem;
    }

    .textField {
      width: 21.75rem;
      margin-top: 2.25rem;
      padding: 5px;
    }

    .editMode {
    }
  }
}
