.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  min-height: 348px;
  background: var(--color-dark-700);
}

.text {
  margin-top: 6px;

}

.photoBlock {
  position: relative;

  .editIconBlock {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    bottom: 6px;
    box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
    background: var(--dark-300, #4C4C4C);
    border-radius: 4px;
    cursor: pointer;

    .editIcon {
      display: flex;
      width: 16px;
      height: 16px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: #a280ff solid 1px;
    }
  }

}

.email {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: var(--line-height-m); /* 171.429% */
  color: var(--color-dark-100);
}

.logoProfileEdit {
  flex-shrink: 0;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.textField {
  width: 21.75rem;
  margin-top: 2.25rem;
  margin-bottom: 84px;
  padding: 5px;
}


