.react-aria-Slider {
  display: grid;
  grid-template-areas:
    'label output'
    'track track';
  grid-template-columns: 1fr auto;

  max-width: 300px;

  color: var(--color-light-100);

  .react-aria-SliderOutput {
    display: flex;
    grid-area: output;
    justify-content: space-between;
    width: 259px;
  }

  .value1 {
    display: flex;
    flex-shrink: 0;
    justify-content: center;

    width: 2.25rem;
    height: 2.25rem;
    padding: 5px;

    border: 1px solid var(--color-dark-300, #4c4c4c);
    border-radius: 0.125rem;
  }

  .value2 {
    display: flex;
    flex-shrink: 0;
    justify-content: center;

    width: 2.25rem;
    height: 2.25rem;
    padding: 5px;

    border: 1px solid var(--color-dark-300, #4c4c4c);
    border-radius: 0.125rem;
  }

  .react-aria-SliderTrack {
    position: relative;
    grid-area: track;
    margin: -24px 42px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      background: var(--color-accent-500);
    }
  }

  .react-aria-SliderThumb {
    width: 0.8rem;
    height: 0.8rem;

    background: var(--color-light-100);
    border: 2px solid var(--spectrum-alias-background-color-default);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--color-accent-500);
  }

  &[data-orientation='horizontal'] {
    flex-direction: column;

    .react-aria-SliderTrack {
      top: 50%;
      left: 10px;

      flex-shrink: 0;

      width: 9.6875rem;
      height: 1rem;

      &::before {
        top: 50%;
        transform: translateY(-50%);

        flex-shrink: 0;

        width: 9.6875rem;
        height: 0.5rem;

        border-radius: 0.225rem;
      }
    }

    .react-aria-SliderThumb {
      top: 50%;
    }
  }

  &[data-orientation='vertical'] {
    display: block;
    height: 150px;

    .react-aria-Label,
    .react-aria-SliderOutput {
      display: none;
    }

    .react-aria-SliderTrack {
      width: 30px;
      height: 100%;

      &::before {
        left: 50%;
        transform: translateX(-50%);
        width: 3px;
        height: 100%;
      }
    }

    .react-aria-SliderThumb {
      left: 50%;
    }
  }

  &[data-disabled] {
    .react-aria-SliderTrack {
      opacity: 0.4;
    }
  }
}

@media (forced-colors: active) {
  .react-aria-Slider {
    --label-color: ButtonText;
    --track-color: ButtonBorder;
    --thumb-color: ButtonBorder;
    --thumb-color-dragging: Highlight;
    --focus-ring-color: Highlight;
    --spectrum-alias-background-color-default: Canvas;

    forced-color-adjust: none;

    &[data-disabled] {
      --track-color: GrayText;
      --thumb-color: GrayText;
      --label-color: GrayText;

      & .react-aria-SliderTrack {
        opacity: 1;
      }
    }
  }
}
