.container {
  display: flex;
  gap: 12px;
  align-items: center;

  .label {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    padding: 6px 14px;

    color: var(--color-light-100);

    border: 1px solid var(--color-dark-300);
    border-radius: 2px;
  }
}

.sliderRoot {
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  max-width: 250px;
  height: 16px;
}

.sliderTrack {
  position: relative;

  flex-grow: 1;

  height: 5px;

  background-color: var(--color-accent-900);
  border-radius: 9999px;
}

.sliderRange {
  position: absolute;
  height: 100%;
  background-color: var(--color-accent-500);
  border-radius: 9999px;
}

.sliderThumb {
  position: relative;

  display: block;

  width: 16px;
  height: 16px;

  background-color: var(--color-accent-500);
  border-radius: 10px;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.sliderThumb::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 8px;
  height: 8px;

  background-color: white;
  border-radius: 50%;
}

.SliderThumb:focus-visible {
  outline: none;
}

.SliderThumb:focus {
  outline: none;
}
