.decksRow,
.cardsRow {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //min-width: 1000px;
}

.decksRow {
  th {
  }
}

.cardsRow {
  th {
    &:nth-child(1),
    &:nth-child(2) {
      min-width: 300px;
      max-width: 300px;
    }

    &:nth-child(3) {
      min-width: 130px;
      max-width: 200px;
    }

    &:nth-child(4) {
      min-width: 170px;
      max-width: 200px;
    }

    &:nth-child(5) {
      min-width: 100px;
      max-width: 100px;
    }
  }
}
