.tableHead {
  min-width: 100%;
  background-color: red;
}

.decksRow {
  th {
    &:nth-child(1) {
      min-width: 260px;
      max-width: 280px;
    }

    &:nth-child(2) {
      min-width: 140px;
      max-width: 200px;
    }

    &:nth-child(3) {
      min-width: 200px;
      max-width: 200px;
    }

    &:nth-child(4) {
      min-width: 275px;
      max-width: 280px;
    }
  }
}

.cardsRow {
  th {
    &:nth-child(1),
    &:nth-child(2) {
      min-width: 300px;
      max-width: 300px;
    }

    &:nth-child(3) {
      min-width: 130px;
      max-width: 200px;
    }

    &:nth-child(4) {
      min-width: 170px;
      max-width: 200px;
    }

    &:nth-child(5) {
    }
  }
}
