.forgotYourPassword {
  padding: 33px 36px 29px;

  .label {
    margin-bottom: 27px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .inputEmail {
      margin-bottom: 19px;
    }
    .text{
      color: var(--color-light-900);
      opacity: 0.5;
      margin-bottom: 60px;
    }
    .button {
      margin-bottom: 20px;
    }
  }

  .rememberYourPassword {
    color: var(--light-900, #C3C1C7);
    text-align: center;
    margin-bottom: 11px;
  }

  .tryLoggingIn {
    text-align: center;
    color: var(--primary-500, #8C61FF);
  }
}