.forgotYourPassword {
  padding: 33px 36px 29px;

  .label {
    margin-bottom: 27px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .text {
      margin-bottom: 60px;
      color: var(--color-light-900);
      opacity: 0.5;
    }

    .button {
      margin-bottom: 20px;
    }
  }

  .rememberYourPassword {
    margin-bottom: 11px;
    color: var(--light-900, #c3c1c7);
    text-align: center;
  }

  .btnTryLoggingIn {
    margin: 0 auto;
  }

  .tryLoggingIn {
    color: var(--color-accent-500);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
