select {
  display: none;
  all: unset;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding: 5px 25px 5px 15px;
  // background-color: #171717;
  color: white;
  border-radius: 2px;
  border: 1px solid #333333;
}
select:focus {
  border-radius: 2px 2px 0px 0px;
}
option {
  // all: unset;
  // -moz-appearance: none; /* Firefox */
  // -webkit-appearance: none; /* Safari and Chrome */
  // appearance: none;
  background-color: #171717;
  color: white;
  // padding-top: 15px;
  // margin-top: 15px;
  line-height: 30px;
  border-radius: 3px;
  outline: 3px solid red;
}
option:hover .decorated {
  box-shadow: 0 0 10px 100px #1882a8 inset;
  z-index: 100;
}

.selectContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // width: 100%;
  // height: 100%;
  color: red;
}
