.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 0;
  padding: 0;
}

.container__pageBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 1000px;
  padding-bottom: 36px;
}

.container__pageName {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1000px;
  padding: 36px 0;
}

.container__textField {
  position: relative;
  top: 24px;
  max-width: 100%;
}

.container__common {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1000px;
  margin: 0;

  border: 1px solid var(--dark-500, #333);
}
