.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
.container__pageBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 36px;
  width: 1000px;
}
.container__pageName {
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
  padding: 36px 0px;
  .container__textField {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
  }
}
.container__common {
  border: 1px solid var(--dark-500, #333);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  width: 1000px;
}
