/* reset */
button {
  all: unset;
  cursor: pointer;
  margin: 0px;
  border-radius: 4px;
}

.SelectTrigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  height: 24px;
  border: 1px solid var(--color-dark-500);
  background-color: var(--color-dark-700);
  color: var(--color-light-100);
  transition: all 0.25s;
  width: 100%;
}
.hoverActive:not(.SelectTrigger[data-disabled]):hover {
  background-color: var(--color-dark-500);
}
.hoverActive:focus {
  border: 1px solid var(--color-info-700);
}
.SelectTrigger[data-disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.SelectTrigger:active {
  border: 1px solid var(--color-dark-500);
}
.SelectTrigger[data-placeholder] {
  border-radius: 4px;
}
.SelectTrigger[data-placeholder]:hover {
}
.SelectTrigger[data-state='open'] {
  border-radius: 4px 4px 0px 0px;
  & .rotate {
    transform: rotate(180deg);
    transition: all 0.25s;
  }
}

.SelectIcon {
  transition: all 0.25s;
}
.selectLabelforSelect {
  position: absolute;
  top: calc(-100% + 6px);
}

.SelectContent {
  width: var(--radix-select-trigger-width);
  border: 1px solid var(--color-dark-500);
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}

.SelectViewport {
  background-color: var(--color-dark-700);
  border-radius: 0px 0px 4px 4px;
}

.SelectItem {
  display: flex;
  justify-content: flex-start;
  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);
  align-items: center;
  height: 25px;
  cursor: pointer;

  user-select: none;
}

.SelectItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--color-accent-900);
  color: var(--color-accent-300);
}
.SelectLabel {
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}
