.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label.label {
  font-size: var(--font-size-s);
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 36px;
  padding: 6px 12px;

  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--color-dark-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;

  &:disabled {
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);
  }

  &.error {
    color: var(--color-danger-300);
    border-color: var(--color-danger-300);
  }

  &:focus,
  &:active:not(:disabled) {
    color: var(--color-light-100);
    border-color: var(--color-light-100);
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-700);
  }
}

.iconStart {
  svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: var(--color-light-100);
  }
}

.inputContainer:has(.iconStart) {
  input {
    padding: 0 40px;
  }
}

.inputContainer:has(.iconEnd) {
  input {
    padding-right: 40px;
  }
}

label.disabledLabel {
  color: var(--color-dark-300);
}

.errorRed {
  color: var(--color-danger-300);
}

.passwordIcon {
  position: absolute;
  top: 8px;
  right: 12px;

  width: 20px;
  height: 20px;

  svg {
    cursor: pointer;
    fill: var(--color-light-100);
  }
}

.iconEnd {
  all: unset;

  svg {
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    fill: var(--color-light-100);
  }
}

.disabledIcon {
  svg {
    fill: var(--color-dark-300);
  }
}

button.disabledIcon {
  svg {
    fill: var(--color-dark-300);
  }
}

.input[type='search'] {
  padding-left: 40px;
}

input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.input[type='search']::-ms-clear {
  display: none;
}

.input[type='search']::-webkit-search-decoration {
  display: none;
}
