.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 420px;
  padding: 36px 36px 44px;

  background-color: var(--color-dark-700);
}

.title {
  margin-bottom: 25px;
}

.icon {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 65px;
  color: var(--color-light-900);
  text-align: center;
  opacity: 0.5;
}

.button {
  padding: 6px 0;
}
