.label {
  display: inline-block;

  margin-bottom: 1px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}
