.label {
  display: inline-block;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}
