span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

img {
  width: 120px;
  height: 48px;
  background: lightgray 50% / cover no-repeat;
}

.bodyCell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--dark-500, #333);
  gap: 10px;
  padding: 6px 24px;
  svg:not(.stars) {
    fill: white;
  }
  .stars {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
  .svgsContainer {
    display: flex;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
  }
  .stars svg {
    fill: var(--color-warning-300);
  }
}
