span {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  width: 120px;
  height: 48px;
  background: lightgray 50% / cover no-repeat;
}

.bodyCell,
.cardsCell {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  min-height: 37px;
  padding: 6px 24px;

  border-bottom: 1px solid var(--color-dark-500);

  svg:not(.stars) {
    fill: white;
  }

  .stars {
    display: flex;
  }

  .svgsContainer {
    cursor: pointer;
    display: flex;
  }

  .stars svg {
    fill: var(--color-warning-300);
  }

  a {
    color: var(--color-light-100);
    text-decoration: none;
  }

  a :visited {
    color: var(--color-light-100);
  }

  .typography {
    font-size: var(--font-size-s);
  }
}

.iconsBox {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  min-height: 24px;
}

.bodyCell {
  &:nth-child(1) {
    width: 100%;
    max-width: 200px;
  }

  &:nth-child(2) {
    width: 100%;
    max-width: 200px;
  }

  &:nth-child(3) {
    width: 100%;
    max-width: 200px;
  }

  &:nth-child(4) {
    width: 100%;
    max-width: 285px;
  }

  &:nth-child(5) {
    width: 100%;
    max-width: 115px;
  }
}

.cardsCell {
  &:nth-child(1) {
    width: 100%;
    max-width: 300px;
  }

  &:nth-child(2) {
    width: 100%;
    max-width: 300px;
  }

  &:nth-child(3) {
    width: 100%;
    max-width: 200px;
  }

  &:nth-child(4) {
    gap: 10px;
    width: 100%;
    max-width: 200px;
  }

  &:nth-child(5) {
    display: none;
  }
}
