.bodyCell,
.cardsCell {
  overflow: hidden;

  padding: 6px 24px;

  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-bottom: 1px solid var(--color-dark-500);

  svg:not(.stars) {
    fill: white;
  }

  .stars {
    display: flex;
  }

  .starsContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }

  .svgsContainer {
    cursor: pointer;
    display: flex;
  }

  .stars svg {
    fill: var(--color-warning-300);
  }

  a {
    color: var(--color-light-100);
    text-decoration: none;
  }

  a :visited {
    color: var(--color-light-100);
  }

  .typography {
    cursor: pointer;
    font-size: var(--font-size-s);
  }

  .imageWithNameBox {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .image {
    min-width: 118px;
    height: 48px;
    object-fit: cover;
  }

  .iconsBox {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 120px;
    height: 48px;
    background: lightgray 50% / cover no-repeat;
  }
}
