.dialogTrigger {
  cursor: pointer;
}

.dialogOverlay {
  position: fixed;
  z-index: 3;
  inset: 0;

  opacity: 0.5;
  background-color: var(--color-dark-900);
}

.dialogContent {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 530px;

  background-color: var(--color-light-900);
}

.dialogTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 24px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px 2px 0 0;

  svg {
    cursor: pointer;
    fill: var(--color-light-100);
  }
}

.dialogClose {
  all: unset;
  cursor: pointer;
  display: flex;
  border-color: transparent;

  &:hover,
  &:focus-visible {
    background-color: var(--color-dark-500);
    border-radius: 50%;
    outline: 1px solid var(--color-dark-500);
  }
}

.description {
  padding: 18px 24px;
  color: var(--color-light-100);
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}

.contentComponents {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;

  padding: 24px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}
