.img {
  width: 36px;
  height: 36px;
  margin-right: 8px;

  background-color: var(--color-dark-500);
  border: none;
  border-radius: 50%;
}

.inner {
  display: flex;
  align-items: center;
  min-width: 195px;
}

.email {
  color: var(--color-dark-100);
}

div.item {
  padding-top: 0;
}
