span {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headCellDecks,
.headCellCards {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 6px 24px;

  background-color: var(--color-dark-500);

  svg {
    cursor: pointer;
    fill: white;
  }
}

.headCellCards {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;

  padding: 6px 24px;

  background-color: var(--color-dark-500);

  svg {
    cursor: pointer;
    fill: white;
  }
}

.headCell:last-child span {
  z-index: -10;
  opacity: 1;
}

.headCellDecks {
}
