.headCell {
  padding: 6px 24px;
  text-align: left;
  background-color: var(--color-dark-500);

  svg {
    cursor: pointer;
    fill: white;
  }

  .typography {
    cursor: pointer;

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
    white-space: nowrap;
  }

  .icon {
    margin-left: 4px;
  }
}
