.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 100%;
}

.container__pageBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.container__pageName {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 24px;
}

.container__common {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}
