.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
}

.container__pageBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.container__pageName {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 24px;
}

.container__common {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}

.backLink {
  display: flex;
  gap: 4px;
  align-items: center;

  margin-bottom: 30px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1px;
  color: var(--color-light-100);
  text-decoration: none;
}

.textWithIconBox {
  display: flex;
  gap: 15px;
  align-items: center;
}

.itemBox {
  a {
    min-width: 60px;
  }
}
