.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 100%;
  margin-bottom: 100px;
}

.container__pageBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.container__pageName {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 24px;
}

.container__common {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}

.backLink {
  display: flex;
  gap: 4px;
  align-items: center;

  margin-bottom: 30px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1px;
  color: var(--color-light-100);
  text-decoration: none;
}

.textWithIconBox {
  display: flex;
  align-items: center;
}

.itemBox {
  a {
    min-width: 60px;
  }
}

.cardsRow {
  th {
    &:nth-child(1) {
      min-width: 300px;
      max-width: 300px;
    }

    &:nth-child(2) {
      min-width: 250px;
      max-width: 250px;
    }

    &:nth-child(3) {
      min-width: 180px;
      max-width: 180px;
    }

    &:nth-child(4) {
      min-width: 170px;
      max-width: 170px;
    }
  }
}

.headCell {
  padding: 6px 24px;
  text-align: left;
  background-color: var(--color-dark-500);
  transition: 0.3s;

  &:hover {
    background-color: var(--color-dark-300);
    transition: 0.3s;
  }

  &:last-child {
    background-color: var(--color-dark-500);
  }

  svg {
    cursor: pointer;
    margin-left: 4px;
    fill: white;
  }

  .typography {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
    white-space: nowrap;
  }

  .iconRotate {
    svg {
      transform: rotate(180deg);
    }
  }
}

.bodyCell {
  overflow: hidden;

  max-width: 200px;
  padding: 6px 24px;

  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-bottom: 1px solid var(--color-dark-500);

  svg:not(.stars) {
    fill: white;
  }

  .stars {
    display: flex;
  }

  .starsContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }

  .stars svg {
    fill: var(--color-warning-300);
  }

  a {
    color: var(--color-light-100);
    text-decoration: none;
  }

  a :visited {
    color: var(--color-light-100);
  }

  .typography {
    font-size: var(--font-size-s);
  }

  .imageWithNameBox {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .image {
    height: 50px;
    object-fit: cover;
  }
}

.iconBox {
  div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.starsBox {
  div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}
