.container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  align-items: center;

  width: 100%;
  margin-bottom: 35px;
  padding-bottom: 0;

  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1250px;
  height: 3.75rem;

  .textHeader {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    color: var(-color--light-100);
  }
  .switch{
    padding: 5px;
  }
  .logo {
    padding: 125px;
    cursor: pointer;
    display: flex;
  }

  .logoBox {
    &:focus-visible {
      border-radius: 2px;
      outline: 2px solid var(--color-info-500);
    }
  }

  .logoProfile {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 10px;
    border-radius: 2.25rem;
  }

  .linkSignIn {
    color: var(--color-light-100);
    text-decoration: none;
  }
}

