.signUp {
  padding: 33px 36px 29px;

  .label {
    margin-bottom: 27px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .inputConfirmPassword {
      //margin-bottom: 30px;
    }

    .button {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  .linkAlreadyHaveAccount {
    margin-bottom: 11px;
    color: var(--color-light-900);
    text-align: center;
  }

  .linkSignIn {
    text-align: center;
    color: var(--primary-500, #8C61FF);
  }
}
