.signUp {
  padding: 33px 36px 29px;

  .label {
    margin-bottom: 27px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .inputEmail {
      margin-bottom: 24px;
    }

    .inputPassword {
      margin-bottom: 24px;
    }

    .inputConfirmPassword {
      margin-bottom: 60px;
    }

    .button {
      margin-bottom: 20px;
    }
  }

  .linkAlreadyHaveAccount {
    margin-bottom: 11px;
    text-align: center;
  }

  .linkSignIn {
    text-align: center;
  }
}
