.trigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: var(--color-dark-500);
  border: none;
  border-radius: 50%;
}

.triggerImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  fill: var(--color-light-100);
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 215px;
  padding: 12px;

  background-color: var(--color-dark-700);
  border-radius: 4px;

  :nth-child(3) {
    border-bottom: none;
  }
}

.arrow {
  width: 16px;
  height: 8px;
  fill: var(--color-dark-700);
}
