.card {
  width: 26.25rem;
  height: 34.5rem;
  flex-shrink: 0;
  background-color: #313131;
  fill: var(--dark-700);
  stroke-width: 1px;
  stroke: #313131;
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));

  .photo {
    objectfit: cover;
    width: 100%;
    height: 100%;
  }
}
