.btnCoverBox {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-around;

  width: 100%;

  svg {
    width: 20px;
    height: 20px;
    fill: var(--color-light-100);
  }
}

.img {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
}

.changeCover {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 6px;

  background: var(--color-dark-300);
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  transition: all 0.3s;

  svg {
    width: 22px;
    height: 22px;
    fill: var(--color-light-100);
  }

  &:hover {
    background-color: var(--color-dark-100);
    transition: all 0.3s;
  }
}

.inputFile {
  overflow: hidden;

  width: 0;
  height: 0;
  padding: 0;

  line-height: 0;

  opacity: 0;
}
