.signIn {
  padding: 33px 36px 29px;

  .label {
    margin-bottom: 27px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--color-light-100);

    .checkbox {
      justify-content: flex-start;
      margin-left: -9px;
    }

    .button {
      margin-bottom: 20px;
    }
  }

  .forgotPassLink {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 56px;
    text-align: right;
  }

  .linkDontHaveAccount {
    margin-bottom: 10px;
    color: var(--color-light-900);
    text-align: center;
  }

  .linkSignUp {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}
