.signIn {
  padding: 33px 36px 29px;

  .label {
    margin-bottom: 27px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--color-light-100);

    .inputEmail {
      margin-bottom: 24px;
    }

    .inputPassword {
      margin-bottom: 12px;
    }

    .checkbox {
      justify-content: flex-start;
      margin: 6px 0 0 -9px;
    }

    .button {
      margin-bottom: 20px;
    }
  }

  .forgotPassLink {
    margin-bottom: 66px;
    text-align: right;
  }

  .linkDontHaveAccount {
    margin-bottom: 11px;
    color: var(--color-light-900);
    text-align: center;
  }

  .linkSignUp {
    text-align: center;
  }
}
