
.react-aria-Slider {
    display: grid;
    grid-template-areas:
    'label output'
    'track track';
    grid-template-columns: 1fr auto;
    max-width: 300px;
    color: var(--color-light-100);

    .react-aria-SliderOutput {
        grid-area: output;
        display: flex;
        width: 259px;
        justify-content: space-between;
    }

    .value1 {
        display: flex;
        width: 2.25rem;
        height: 2.25rem;
        flex-shrink: 0;
        border-radius: 0.125rem;
        border: 1px solid var(--color-dark-300, #4C4C4C);
        justify-content: center;
        padding: 5px;
    }

    .value2 {
        display: flex;
        justify-content: center;
        width: 2.25rem;
        height: 2.25rem;
        flex-shrink: 0;
        border-radius: 0.125rem;
        border: 1px solid var(--color-dark-300, #4C4C4C);
        padding: 5px;
    }

    .react-aria-SliderTrack {
        grid-area: track;
        position: relative;
        margin: -24px 42px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            background: var(--color-accent-500);
        }
    }

    .react-aria-SliderThumb {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background: var(--color-light-100);
        border: 2px solid var(--spectrum-alias-background-color-default);
        box-shadow: 0 0 0 4px var(--color-accent-500);
    }

    &[data-orientation=horizontal] {
        flex-direction: column;
        width: 300px;

        .react-aria-SliderTrack {
            width: 9.6875rem;
            height: 1rem;
            flex-shrink: 0;
            top: 50%;
            left: 50px;

            &:before {
                width: 9.6875rem;
                height: 0.5rem;
                flex-shrink: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 0.225rem;
            }
        }

        .react-aria-SliderThumb {
            top: 50%;
        }
    }

    &[data-orientation=vertical] {
        height: 150px;
        display: block;

        .react-aria-Label,
        .react-aria-SliderOutput {
            display: none;
        }

        .react-aria-SliderTrack {
            width: 30px;
            height: 100%;

            &:before {
                width: 3px;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .react-aria-SliderThumb {
            left: 50%;
        }
    }

    &[data-disabled] {
        .react-aria-SliderTrack {
            opacity: 0.4;
        }
    }
}

@media (forced-colors: active) {
    .react-aria-Slider {
        forced-color-adjust: none;

        --label-color: ButtonText;
        --track-color: ButtonBorder;
        --thumb-color: ButtonBorder;
        --thumb-color-dragging: Highlight;
        --focus-ring-color: Highlight;
        --spectrum-alias-background-color-default: Canvas;

        &[data-disabled] {
            --track-color: GrayText;
            --thumb-color: GrayText;
            --label-color: GrayText;

            & .react-aria-SliderTrack {
                opacity: 1;
            }
        }
    }
}